{% extends "encyclopedia/layout.html" %}
{% block title %}
    Create New Page
{% endblock title %}
{% block body %}
    <h1>Create New Page</h1>
    <form action="{% url 'create_new_page' %}" method="post" name="form">
        {% csrf_token %}
        <label for="title">Title:</label>
        <br>
        {{ form.title }}
        <br>
        <label for="content">Content:</label>
        <br>
        {{ form.content }}
        <br>
        <input type="submit" value="Save">
    </form>
{% endblock body %}
